[jabber_account]
jid = user@server
password = my_passwod
resource = jabber_bot

[conferences]
   [[conf1]]
   jid = example@conference.jabber.org
   nickname = badtranslatebot
    
[badtranslate]
translation_threads = 4
translation_queue_limit = 4