[jabber_account]
jid = user@server
password = my_passwod
resource = jabber_bot

[rooms]
   [[room1]]
   jid = example@conference.jabber.org
   nickname = badtranslatebot
    
[plugins]
  [[chatlog]]
  log_path = /path/to/chatlogs

  [[translation]]
  max_concurrent_translations = 4
  translation_iterations = 20
